{% extends "BasicperfMetricsBundle::layout.html.twig" %} 

{% set newArray = [] %}

{% block Content %}

{#
	**************************************************************

		Chart with points Metrics Basilic

	**************************************************************
#}	
	
{#
	**************************************************************
		Chart : ARTICLES
	**************************************************************
#}	
<div class="box">
	<div class="box-header">
		<h2><i class="halflings-icon list-alt"></i><span class="break"></span>Chart Articles</h2>
		<div class="box-icon">
			<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
			<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
			<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
		</div>
	</div>
	<div class="box-content">
		<div id="chart-metrics-front-article" style="height: 400px"></div>
	</div>
</div>


{#
	**************************************************************
		Chart : HOME
	**************************************************************
#}
<div class="box">
	<div class="box-header">
		<h2><i class="halflings-icon list-alt"></i><span class="break"></span>Chart Home</h2>
		<div class="box-icon">
			<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
			<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
			<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
		</div>
	</div>
	<div class="box-content">
		<div id="chart-metrics-front-home" style="height: 400px"></div>
	</div>
</div>
{#
	**************************************************************
		Chart : DIAPORAMA
	**************************************************************
#}
<div class="box">
	<div class="box-header">
		<h2><i class="halflings-icon list-alt"></i><span class="break"></span>Chart Diaporama</h2>
		<div class="box-icon">
			<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
			<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
			<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
		</div>
	</div>
	<div class="box-content">
		<div id="chart-metrics-front-diaporama" style="height: 400px"></div>
	</div>
</div>
{#
	**************************************************************
		Chart : LISTE
	**************************************************************
#}
<div class="box">
	<div class="box-header">
		<h2><i class="halflings-icon list-alt"></i><span class="break"></span>Charts List</h2>
		<div class="box-icon">
			<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
			<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
			<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
		</div>
	</div>
	<div class="box-content">
		<div id="chart-metrics-front-list" style="height: 400px"></div>
	</div>
</div>
{#
	**************************************************************
		Chart : GROUPEMENT
	**************************************************************
#}
<div class="box">
	<div class="box-header">
		<h2><i class="halflings-icon list-alt"></i><span class="break"></span>Chart Groupement</h2>
		<div class="box-icon">
			<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
			<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
			<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
		</div>
	</div>
	<div class="box-content">
		<div id="chart-metrics-front-groupement" style="height: 400px"></div>
	</div>
</div>




{% endblock Content %} 


{#
	**************************************************************

		HIGHSTOCK + COMMON JS

	**************************************************************
#}	

{% block javascripts %}
	{{ parent() }}

<script type="text/javascript">
	$(function () {

  		var seriesOptions = [],
	        seriesCounter = 0,
    	    container = ['article','home','diaporama','list','groupement'];
		
		eachData = function (names,div){
		    $.each(names, function (i, name) {
		    	$.getJSON('http://metrics/app_dev.php/door/basicperf/data/json/'+name,  function (data) {

		        	seriesOptions[i] = {
		            	name: name,
		            	data: data
		        	};

		       		seriesCounter += 1;
		   			if (seriesCounter === names.length) {
		          		createChart(seriesOptions, div);
		       		} 
				});
		    });	 
		}

        // create the chart when all data is loaded
        createChart = function (seriesOptions,div) {
        	console.log('#chart-metrics-front-'+div);
            $('#chart-metrics-front-'+div).highcharts('StockChart', {

                rangeSelector: {
                    selected: 2
                },

                yAxis: {
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }]
                },

                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                    valueDecimals: 2
                },
				series:seriesOptions
            });
        };  

        {% set type = ['article','home','diaporama','list','groupement'] %};
        {% set b = 0 %};

		{% for item in metrics %}	
			{% if item.pagetype not in newArray %}		
				{% set newArray = newArray|merge([item.pagetype]) %}
			{% endif %}	
		{% endfor %}

		{% for type_name in type %}
   			names = []
			{% for item in newArray|sort %}
				{% if type[b] in item %}
					names.push('{{ item }}');
				{% endif %}	
			{% endfor %}

			{% if b == 0 %}
			var	data_article = names;
			var div_article = container[{{b}}];
			{% elseif b == 1 %}
			var	data_home = names;
			var div_home = container[{{b}}];
			{% elseif b == 2 %}
			var	data_diapo = [names];
			var div_diapo = container[{{b}}];
			{% elseif b == 3 %}
			var	data_list = [names];
			var div_list = container[{{b}}];
			{% elseif b == 4 %}
			var	data_groupement  = [names];
			var div_groupement = container[{{b}}];
			{% endif %}	  

			{% set b = b + 1 %}
		{% endfor %}

  			var jsonData_article = eachData(data_article,div_article);
  			var jsonData_home = eachData(data_home,div_home);
  			var jsonData_diapo = eachData(data_diapo,div_list);
  			var jsonData_list = eachData(data_list,div_list);
  			var jsonData_groupement = eachData(data_groupement,div_groupement);
 
	});
</script>
{% endblock javascripts %}
